// bower:scss
// endbower

@import 'typecast';
@import "variables";
@import "typography";
@import "components/header";
@import "components/articles";
@import "components/side-nav";
@import "components/footer";
@import "components/post-navigation";
@import "components/search";

// pure overrides
.pure-g * {
  letter-spacing: 0;
  font-family: inherit;
  p, a {
    font-family: $main-sans-font;
  }
}

// tumblr overrides
p img {
  width: 100%;
  height: auto;
}

// layout

body, header, article, main {
  font-size: 16px;
}

footer {
  font-size: 20px;
  p {
    font-weight: 600;
  }
}

main {
  background: $main-background-color;
  padding: 2.5%;
}

.lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000000;
  background-color: rgba(0,0,0,.4);
}

// media queries
@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
  main {
    padding: 0 $desktop-side-margin;
  }
}
