// bower:scss
// endbower

@import 'typecast';
@import "typography";
@import "components/header";
@import "components/articles";
@import "components/side-nav";
@import "components/footer";
@import "components/post-navigation";
@import "components/search";


main {
  background: #ddd;
  padding: 2.5%;
}

.lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000000;
  background-color: rgba(0,0,0,.4);
}

// media queries
@media screen and (min-width: 768px) {
  main {
    padding: 5% 10%;
  }
}
