// bower:scss
// endbower
@import url(http://fonts.googleapis.com/css?family=Antic+Slab|Simonetta|Josefin+Slab|Slabo+13px);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Quicksand|Raleway:400,300);

$margin: 2.5%;

header {
  padding: $margin;
}

ul#social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  li {
    display: inline-block;
    margin-left: 1rem;
  }
  svg {
    height: 1rem;
  }
}

img#main-logo {
  width: 86%;
  margin-bottom: 1em;
}

.category-wrapper {
  .category-inner {
    margin-right: auto;
    margin-left: auto;
    width: 140px;
    text-align: center;
    font-size: 1.2rem;
  }
  width: 100%;
  button {
    width: 100%;
  }
  ul.category-list {
    margin: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    min-width: 140px;
    visibility: hidden;
  }
}

main {
  background: #ddd;
  padding: 2.5%;
}

article {
  background: white;
  margin: 2em 0 1em;
  position: relative;
  padding: 2.5%;
  .article-washi {
    position: absolute;
    top: -10px;
    left: 5%;
    width: 80px;
  }
}
