$quicksand-font: "Quicksand", sans-serif;
$josefin-font: "Josefin Slab", serif;

$main-sans-font: $quicksand-font;
$main-serif-font: $josefin-font;

p {
  color: $paragraph-color;
  img {
    width: 100% !important;
  }
}

h5 {
  text-transform: uppercase !important;
  margin: 0.5em;
}

a {
  color: $brand-color;
  text-decoration: none;
  &:hover {
    color: $dark-brand-color;
  }
}

h2.title {
  margin: 0.75em 0 0.25em;
  font-size: 2em;
  a {
    font-family: $main-serif-font !important;
    font-weight: 600;
  }
}

p.date {
  font-style: italic;
  text-transform: lowercase;
  color: $gray;
}

a.read_more {
  color: $brand-color;
  text-transform: lowercase;
  font-style: italic;
  &:hover {
    color: $dark-brand-color;
    text-decoration: underline;
  }
  &:before {
    content: "(";
  }
  &:after {
    content: "...)"
  }
}
