$margin: 2.5%;
$quicksand-font: "Quicksand", sans-serif;
$josefin-font: "Josefin Slab", serif;

$main-sans-font: $quicksand-font;
$main-serif-font: $josefin-font;

$brand-color: #57D2C8;
$light-brand-color: lighten($brand-color, 20%);
$dark-brand-color: darken($brand-color, 10%);
$gray: #9C9A9A;
$light-gray: lighten($gray, 10%);
$paragraph-color: gray;


p {
  color: $paragraph-color;
  img {
    width: 100%;
  }
}

h5 {
  text-transform: uppercase;
  margin: 0.5em;
}

a {
  color: $brand-color;
  text-decoration: none;
  &:hover {
    color: $dark-brand-color;
  }
}

h2.title {
  margin: 0.75em 0 0.25em;
  font-size: 2em;
  a {
    font-family: $main-serif-font;
  }
}

p.date {
  font-style: italic;
  text-transform: lowercase;
  color: $gray;
}

a.read_more {
  color: $brand-color;
  text-transform: lowercase;
  font-style: italic;
  &:hover {
    color: $dark-brand-color;
    text-decoration: underline;
  }
  &:before {
    content: "(";
  }
  &:after {
    content: "...)"
  }
}
