$margin: 2.5%;

$brand-color: #57D2C8;
$light-brand-color: lighten($brand-color, 20%);
$dark-brand-color: darken($brand-color, 10%);
$gray: #9C9A9A;
$light-gray: lighten($gray, 10%);
$paragraph-color: gray;

$main-background-color: #EBEBEB;

$desktop-side-margin: 9.5%;
$large-desktop-side-margin: 17.5%;
