footer {
  padding: $margin;
}

form#email-subscribe {
  background-color: $light-brand-color;
  padding: $margin;
  height: inherit;
  overflow: hidden;
  label {
    text-transform: uppercase;
    text-align: center;
  }
}

form.block-form {
  text-align: center;
  label {
    color: $gray;
  }
  .block-group {
    background: white;
    margin-top: 15px;
    overflow: hidden;
    border: 1px solid gray;
    height: 33px;

    margin-right: auto;
    margin-left: auto;
    width: 300px;

    input, button {
      border-radius: 0;
      display: block;
      float: left;
      background: white;
      border: none;
    }
    input {
      border-right: 1px solid gray;
      height: inherit;
      width: 246px;
    }
    button {
      height: inherit;
      padding: 3px 0 0 3px;
      width: 20px;
    }
    button.arrow-icon {
      img {
        max-height: 100%;
      }
      &:hover {
        // background-color: $brand-color;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  footer {
    display: none;
  }

  form.block-form {
    .block-group {
      width: 140px;
      input {
        width: 100px;
      }
      button {
        width: 30px
      }
    }
  }
}

@media screen and (min-width: 768px) {
  form.block-form {
    .block-group {
      width: 190px;
      input {
        width: 154px;
      }
      button {
        width: 30px
      }
    }
  }
}
