footer {
  padding: $margin;
}

form#email-subscribe {
  text-align: center;
  background-color: $light-brand-color;
  color: gray;
  padding: $margin;
  label {
    text-transform: uppercase;
    text-align: center;
  }
  input {
    margin-top: 1em;
    border-radius: 0;
    width: 100%;
  }
}
