$category-btn-width: 135px;

header {
  padding: $margin $margin ($margin+4%);
}

ul#social-icons {
  list-style: none;
  padding: 0;
  margin: $margin $margin 0 0;
  text-align: right;
  li {
    display: inline-block;
    margin-left: 1.5em;
  }
  svg {
    height: 1em;
    fill: $gray;
  }
}

img#main-logo {
  width: 86%;
  margin-bottom: 1em;
}

.category-wrapper {
  .category-inner {
    margin-right: auto;
    margin-left: auto;
    width: $category-btn-width;
    text-align: center;
    font-size: 2rem;
  }
  width: 100%;
  button {
    font-size: 1rem;
    width: 100%;
    background-color: $light-brand-color;
    border: none;
    color: $gray;
    font-family: $main-sans-font;
    text-transform: uppercase;
    padding: 0.3em 0.25em;
  }
  ul#category-list {
    border: 1px solid $gray;
    font-size: 1rem;
    li {
      h5 {
        color: $gray;
        margin: 0;
        padding: 0.5em 1em;
      }
      &:hover {
        background-color: lighten($light-brand-color, 15%);
      }
    }
    margin: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    width: ($category-btn-width)-2;
    visibility: hidden;
    z-index: 500000;
    background: white;
    line-height: 2;
    text-align: left;
    &.open {
      visibility: visible;
    }
  }
}

#desktop-nav {
  display: none;
}

// Desktop/Tablet

@media screen and (min-width: 768px) {

  header {
    padding: 0 $desktop-side-margin 1%;
  }

  #search-button {
    display: none;
  }

  #phone-nav {
    display: none;
  }

  #desktop-nav {
    display: block;
    text-align: left;
    ul {
      list-style: none;
      padding: 0;
      margin-left: 0;
      li {
        display: inline-block;
        a h5 {
          color: gray;
          margin: 0;
          padding: 0 1em;
        }
        &:nth-child(1) {
          padding-left: 0;
          a h5 {
            background-color: $light-brand-color;
          }
        }
        &:nth-child(5) {
          border: none;
        }
        &:nth-child(odd) {
          line-height: 2;
          &:hover a h5 {
            background-color: lighten($light-brand-color, 15%);
          }
        }
      }
    }
  }

  img#main-logo {
    width: 270px;
  }

  ul#social-icons {
    margin: 2em $margin 0 0;
    li {
      margin-left: 2rem;
      &:hover svg {
        fill: $brand-color;
      }
    }
    svg {
      height: 1rem;
    }
  }
}
