div#side-nav {
  padding: $margin $margin 0 $margin;
  overflow: hidden;
  background-color: white;
  height: inherit;
  position: relative;
  h2, img.side-washi {
    display: none;
  }
}

ul#side-topics {
  li {
    width: (100-$margin)/2;
    margin-bottom: $margin;
    &:nth-child(2n-1) {
      margin-right: $margin;
    }
    float: left;
    p {
      font-family: $main-serif-font;
      font-weight: 600;
      background-color: $brand-color;
      text-transform: uppercase;
      color: white;
      text-align: center;
      margin: 0;
      line-height: 2;
      letter-spacing: 0.19em;
    }
    img {
      width: 100%;
      display: block;
    }
  }
  div.side-topic {
    h5 {
      margin: 0;
    }
  }
}

ul#side-topics li {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  &:hover {
    img {
      opacity: 0.4;
    }
    p {
      background-color: $dark-brand-color;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 768px) {
  div#side-nav {
    padding: 0;
    margin-top: 2em;
    height: 100%;
    h2, img.side-washi {
      display: block;
    }
    h2 {
      text-transform: uppercase;
      font-size: 1em;
      line-height: 1;
      margin-bottom: 0.2em;
    }
    img.side-washi {
      position: absolute;
      top: 17px;
      left: -5px;
      width: 30%;
      height: auto;
    }
  }
  ul#side-topics {
    padding: 5%;
    li {
      margin-bottom: 1em;
      width: 100%;
      .side-wrapper {
        position: relative;
      }
      img {
        width: 100%;
      }
      p {
        display: none;
      }
    }
  }


}
