// override swiftype styles
// TODO: refactor!

body div.swiftype-widget div.autocomplete ul li, body div.swiftype-widget div.autocomplete ul li.active {

  // title
  p.title {
    text-shadow: none !important;
    line-height: 1.5;
    color: gray !important;
    text-transform: uppercase !important;
    letter-spacing: 0.05em;
    // search query that's present in title
    em {
      color: $brand-color;
    }
  }

  // tags
  p.sections, p.sections span.section {
    text-shadow: none !important;
    color: $light-gray !important;
    font-style: italic !important;
    text-transform: lowercase;
    letter-spacing: 0.05em;
    em {
      color: $brand-color;
      font-style: italic !important;
    }
  }
}

// ACTIVE LI
// button background - active (hover)
body div.swiftype-widget .autocomplete ul li.active {
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-brand-color;
  background-color: $light-brand-color;
  background: $light-brand-color !important;
  -webkit-box-shadow: 0 1px 0 $light-brand-color inset;
  -moz-box-shadow: 0 1px 0 $light-brand-color inset;
  box-shadow: 0 1px 0 $light-brand-color inset;
}

body div.swiftype-widget .autocomplete ul li {
  font-family: Quicksand !important;
  padding-left: 10px !important;
}

// swiftly div spacing for mobile, desktop, and super screens:
@media screen and (min-width: 768px) {
  body div.swiftype-widget div.autocomplete {
    width: 182px !important;
    left: initial !important;
    right: $desktop-side-margin+1.2;
  }
}

@media screen and (min-width: 1044px) {
  body div.swiftype-widget div.autocomplete {
    right: $large-desktop-side-margin+1.2;
  }
}
